In [1]:
import pandas as pd

In [4]:
s = pd.Series(list('asdesdaweadsadase'))
s

0     a
1     s
2     d
3     e
4     s
5     d
6     a
7     w
8     e
9     a
10    d
11    s
12    a
13    d
14    a
15    s
16    e
dtype: object

In [5]:
s.unique() # retorna os valores únicos de uma Series

array(['a', 's', 'd', 'e', 'w'], dtype=object)

In [6]:
s.value_counts() # retorna o número de ocorrência de determinado valor

a    5
s    4
d    4
e    3
w    1
dtype: int64

In [7]:
dados = pd.read_csv('./aluguel.csv', sep = ';')

In [8]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [9]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64