In [57]:
import pandas as pd

# Series

In [58]:
data = [1, 2, 3, 4, 5]

In [59]:
s = pd.Series(data) # criando uma Series e armazenando seu retorno em uma variável

In [60]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [61]:
index = ['Linha' + str(i) for i in range(5)] # criando a variável índice

In [62]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [63]:
s = pd.Series(data = data, index = index) # substituindo o índice da Series

In [64]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [65]:
data = {'Linha' + str(i) : i + 1 for i in range(5)} # criando um dicionário com 5 elementos chave-valor

In [66]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [67]:
s = pd.Series(data) # criando uma series a partir de um dicionário
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [68]:
s1 = s + 2 # somando 2 unidades em cada elemento da Series

In [69]:
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [70]:
s2 = s + s1 # realizando a soma de 2 Series e armazenando o retorno em s2

In [71]:
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

# DataFrame

In [72]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]] # criando uma lista multidimensional

In [73]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [74]:
df1 = pd.DataFrame(data = data) # criando um DataFrame e armazenando seu retorno em uma variável

In [75]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [76]:
index = ['Linha' + str(i) for i in range(3)]

In [77]:
index

['Linha0', 'Linha1', 'Linha2']

In [78]:
df1 = pd.DataFrame(data = data, index = index) # renomeando as linhas

In [79]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [80]:
columns = ['Coluna' + str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [81]:
df1 = pd.DataFrame(data = data, index = index, columns = columns) # renomeando as colunas

In [82]:
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [102]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7}, 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8}, 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}} # criando um dicionário de dicionários

In [103]:
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [105]:
df2 = pd.DataFrame(data) # criando um DataFrame a partir de um dicionário de dicionários

In [106]:
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [107]:
data = [(1, 2, 3), (4, 5, 6), (7, 8, 9)] # criando uma lista de tuplas

In [108]:
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [109]:
df3 = pd.DataFrame(data = data, index = index, columns = columns) # criando um DataFrame a partir de uma lista de tuplas utilizando rótulos de índices e colunas definidos

In [110]:
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

Concatenando DataFrames

In [111]:
df1[df1 > 0] = 'A' # substituindo os valores maiores do que 0 por A

TypeError: '>' not supported between instances of 'str' and 'int'

In [112]:
df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [113]:
df2[df2 > 0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [114]:
df3[df3 > 0] = 'C'
df3

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [115]:
df4 = pd.concat([df1, df2, df3])
df4

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [118]:
df4 = pd.concat([df1, df2, df3], axis = 1) # o argumento "axis" define em qual direação deve ser feita a concatenação (axis = 0 são as colunas e axis = 1 são as linhas)
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C