In [1]:
import pandas as pd

In [2]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
list('321')

['3', '2', '1']

In [4]:
df = pd.DataFrame(data = data, index = list('321'), columns = list('ZYX'))
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [5]:
df.sort_index(inplace = True) # inplace altera o dados armazenado em df sem precisar criar outra variável para armazenar a alteração.

In [6]:
df

   Z  Y  X
1  7  8  9
2  4  5  6
3  1  2  3

In [7]:
df.sort_index(inplace = True, axis = 1) # axis = 1 irá alterar o label das colunas

In [8]:
df

   X  Y  Z
1  9  8  7
2  6  5  4
3  3  2  1

In [9]:
df.sort_values(by = 'X', inplace = True) # sort_values ordena os valores das variáveis. No exemplo, irá ordenar os valores a partir da variável X
df

   X  Y  Z
3  3  2  1
2  6  5  4
1  9  8  7

In [10]:
df.sort_values(by = '3', axis = 1, inplace = True) # neste exemplo, o sort_values irá alterar os valores das variáveis a partir da linha determinada (axis = 1).
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9